.container{
    display: flex;
    flex-direction: column;
    max-height: 75vh;
    width: fit-content;
    overflow-y: auto;
    padding: 20px;
    border: 2px solid #3963c0ce;
    border-radius: 12px;


}

.container2{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;
    overflow-y: auto;
    padding: 30px;
}

.card {
display: flex;
gap: 20px;
border: 1px solid #ddd;
padding: 16px;
border-radius: 10px;
background: #fff;
max-width: 700px;
}
.card:hover { cursor: pointer; transform: translateY(-3px); box-shadow: 0 10px 20px rgba(20, 20, 60, 0.06); transition: transform 120ms ease; }


.image {
width: 180px;
height: 140px;
object-fit: cover;
border-radius: 8px;
}


.info {
display: flex;
flex-direction: column;
justify-content: center;
}


.title {
margin: 0;
font-size: 22px;
font-weight: bold;
}


.text {
margin: 4px 0;
}


.description {
margin-top: 8px;
color: #555;
}