.main{
    padding: 2vh 10vw;
    display: flex;
    flex-direction: column;

}

.bottom{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}

.filterBox{
    max-height: 80vh;
    width: fit-content;
    overflow-y: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 12px;
    height: fit-content;
    background-color: transparent;
}

.filterBoxMain{
    display: flex;
    background-color: transparent;

    flex-direction: column;
    max-height: 75vh;
    width: fit-content;
    overflow-y: auto;
    padding: 20px;
    border: 2px solid #3963c0ce;
    border-radius: 12px;
}

.category {
  padding: 18px;
  border: 1px solid #dedede;
  border-radius: 10px;
  background: #fafafa;
}

.categoryTitle {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.fieldRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  gap: 12px;
}

.fieldRow label {
  font-size: 15px;
  font-weight: 500;
  width: 60%;
}

.fieldRow input[type="text"] {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  width: 150px;
}

.fieldRow input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.submitButton {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitButton:hover {
  background-color: #45a049; /* Slightly darker green on hover */
  transform: translateY(-2px); /* subtle lift */
}

